.App {
  background-color: #282c34;
  color:burlywood; 
  font-size: calc(12px + 2vmin);
}

.Navbar {
  display: flex;
  flex-direction: column;


  


}

.NavbarLeft{
  font-size: 150%;
  font-weight: 800;
  color:rgb(227, 225, 231); 
  flex:content;
  padding: 25px;
  background-color: #00000098;
  
}

.NavbarRight{
  font-size: 150%;
  text-align: center;
}


.Slidebar{
  
 padding-left: 20%; 
 padding-right: 20%; 

}



.Midlebar{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  padding: 20px;

  text-align: center;
}



.Footbar{
padding: 20px;
  background-color: #00000098;
  

}

.hr{
  border: 1px solid red;

}



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*/

/*

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*/





